footer
{

    hr
    {
        margin-top: 10px;
        margin-bottom: 15px;
        /*
        position:relative;
        &:before
        {
            height: 1px;
            background: #03B0DF;
            display: inline-block;
            width: 60px;
            content: " ";
            position: absolute;
            top: -0.6px
        }
        */
    }
    background: #213540;
    color:#D3D3D3;

    .post-footer
    {
        background: #202E35;
        min-height: 40px;
        line-height: 40px;
        margin-top: 19px;
        a
        {
            color: #2FBBE2;
        }
    }

    .social-icon
    {
        a
        {
            border: 1px solid #D3D3D3;
            height: 40px;
            display: inline-block;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            font-size: 15px;
            color: #D3D3D3;
            margin-right:5px;
            @include transition(all);
            @include transition-duration(.35s);
            &:hover
            {
                background:#fff;
                color:#213540;
            }
        }
    }

    .newsletter 
    {
        .input-group
        {
            padding:1px;
            border: 1px solid #6E6E6E;
            input
            {
                border:0px;
                background: transparent;
                color:#fff;
                &:focus
                {
                    border:0px;
                    outline: 0;
                    box-shadow: none;
                }

            }
            button
            { 
                border: 1px solid lighten($primary-color, 10%);
            }
        }
    }

    .rebates
    {
        a
        {
            display: inline-block;
            height: 70px;
            width: 150px;
            background-image: url(../img/rebates.png);
            background-repeat: no-repeat;
        }
        .medibank
        {
            background-position: -150px -0px;
            //@include transition(background-position);
            //@include transition-duration(.35s);
            &:hover
            {
                background-position: 0px 0px;
            }
        }
        .nib
        {
            background-position: -150px -70px;
            //@include transition(background-position);
            //@include transition-duration(.35s);
            &:hover
            {
                background-position: 0px -70px;
            }
        }
        .hbf
        {
            background-position: -150px -140px;
            //@include transition(background-position);
            //@include transition-duration(.35s);
            &:hover
            {
                background-position: 0px -140px;
            }
        }
        .unity
        {
            background-position: -150px -210px;
            //@include transition(background-position);
            //@include transition-duration(.35s);
            &:hover
            {
                background-position: 0px -210px;
            }
        }
        .bupa
        {
            background-position: -150px -280px;
            //@include transition(background-position);
            //@include transition-duration(.35s);
            &:hover
            {
                background-position: 0px -280px;
            }
        }
        .ahm
        {
            background-position: -150px -350px;
            //@include transition(background-position);
            //@include transition-duration(.35s);
            &:hover
            {
                background-position: 0px -350px;
            }
        }
    }
}