.breadcrumb {
    padding: 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
    a
    {
        color:$primary-link;
        &:hover
        {
            color:$primary-hover-link;
            text-decoration:none;
        }
    }
}

.breadcrumb > li + li:before {
    font-family: FontAwesome;
    padding: 0 5px;
    color: #ccc;
    content: "\f105";
}

.thumbnail
{
    border:0px;
    padding:0px;
    img
    {
        width:100%;
    }
    
    
}


.thumbnail > .caption > .content
{
    height: 100px;
    overflow: hidden;
}

.panel-primary
{
    border:0px;
    .panel-heading
    {
        color: #F5F5F5;
        a:hover
        {
            color:#fff;
        }
        background:lighten($primary-color, 10%);
        + .panel-collapse > .panel-body {
            border:0px;
        }
    }
}

.portlet-primary > .panel-body
{
    ul
    {
        list-style: none;
        padding: 0px;
        font-size: 16px;

        li
        {
            margin-bottom: 10px;
            &:before
            {
                font-family: FontAwesome;
                padding: 0 5px;
                content: "\f105";
            }
        }
    }
}


.tags
{
    margin-bottom:7px;
    ul
    {
        list-style: none;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        li
        {
            float: left;
            a
            {
                background: #fff;
                display: block;
                padding: 7px;
                border-left: 2px solid lighten($primary-color, 10%);
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}