/* 
    Created on : Nov 15, 2015, 2:41:35 PM
    Author     : Keshav K
*/
$background:#03b0df;
.list-group
{
    .list-group-item
    {
        border-radius: 0px;
        border-color: #FFFFFF;
        background: #fff;
        display: block;
        padding: 7px;
        border-left: 2px solid #03b0df;
        margin-bottom: 5px;

        &:hover
            {
            background: #FFFFFF;
            color: $primary-hover-link;
        }
    }
}